body {
  margin: 0;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: tomato;
  border-bottom: 1px solid peachpuff;
  padding: 3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 1.1rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.4rem 0.5rem;
}

button {
  color: white;
  background-color: slategray;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.tasks {
  width: 80vw;
  margin-top: 1rem;
}

h1 {
  font-size: 1.75rem;
}

li {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}

li::marker {
  content: counter(list-item) "›  ";
  color: tomato;
  font-size: 1.3rem;
}
