@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: tomato;
  border-bottom: 1px solid peachpuff;
  padding: 3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  padding: 0.4rem 0.5rem;
}

.new-task {
  border: none;
  margin-right: 0.5rem;
}

.btn {
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: slategray;
  padding: 0.5rem 0.75rem;
}

.tasks {
  width: 80vw;
  margin-top: 1rem;
}

h1 {
  font-size: 1.75rem;
}

ul {
  padding: 0;
}

li {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  padding-bottom: 0.4rem;
  height: 42px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:not(:last-of-type) {
  border-bottom: 1px solid whitesmoke; 
}

.task-count {
  color: tomato;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.task-text {
  padding: 0.4rem 0.5rem;
  border: 1px solid transparent;
}

.edit-task {
  border: 1px solid lightgray;
}

.btn-confirm {
  color: limegreen;
  background-color: transparent;
}

.btn-delete {
  color: crimson;
  background-color: transparent;
}

.btn-delete:disabled {
  opacity: 0.25;
}

.btn-edit {
  color: dodgerblue;
  background-color: transparent;
}
